:root {
    --card-background: black;
    --card-background-unselected: color-mix(in srgb, var(--card-background) 50%, transparent);
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.button-row {
    display: flex;
    flex-direction: column;
}

.search {
    input {
        border: black solid 1px;
    }
}
.spellContainer {
    display: grid;
    grid-template-columns: 10% 20% 70%;
}

.controls {
    display: flex;
    /*gap: 1rem;*/
    margin-bottom: 1.5rem;
}
.spell-list {
    width: 21cm;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

@media print {
    .no-print {
        display: none !important;
    }
}
